* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0b0d10; 
   font-family: 'Space Grotesk', sans-serif;

}

#root {
  width: 100%;
  height: 100%;
}
